$gray: #f3f3f3;
$blue: #478ccc;
$red: #db1d1d;
$grayDark: #ddd;
$black: rgb(26, 20, 20); 
$green: rgb(102, 160, 26);

 
html{
    margin: 0;
    
    body{
        margin: auto;
    }
}

textarea:focus-visible, textarea:focus {
    outline: none;
    border-color: $blue !important;
}
.hidden {
    display: none;
}

.post__choix{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 2em;
 
    .hidden{
        
        align-items: center;

    }
    button {
        padding: 0 3em;
        font-weight: bold;
    }  
    .upload{
        margin-top: 15px;
        font-size: 2em;
        cursor: pointer;
    }
    .image {
        color: $green;
        font-size: 2em;
        display: flex;
        align-items: center;
    }
    .image svg {
        cursor: pointer;
    }
    .image span {
        color: $black;
        font-size: 1.2rem;
        margin-right: 1em;
    }
}


.avatar { 

    img { 
        border-radius: 100%;
        width: 2.2em;
        height: 2.2em;
        object-fit: cover;
        object-position: center;
    }
}

header {
    .h-container {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        .logo {

            background: url('../../public/img/icon-left-font-monochrome-black.png') no-repeat;
            height: 80px;
            background-size: 200px;
            background-position: center;
        } 
        nav {
            .large{
                ul {
                    display: flex;
                    list-style-type: none;
                    flex-direction:row;
                    margin: 0px;
                    padding: 0px;
                    align-items: center;
                    li {
                        padding: 15px;
                        padding-bottom: 1px;
                    
                        border-top: transparent solid 3px;
                        
                     
                        // i{
                        //     font-size: 20px;
                        // }
                        // i:hover{
                        //     color: blue;
                            
                        // }

                        // a {
                        //     font-size: 14px;
                        //     color: #444444;
                        //     text-decoration: none;
                        // }
                    }
                }
                // a:hover {
                //     color: #0065FC;
                
                // }   
                
                .menu-link:hover {
                    border-bottom: #0065FC solid 3px;
                    
                }
            }

        }  
        
    }
}      
#index{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 40px;  
   // background-color: $blue;        
}
#users { 
    width: 300px;
    min-height: 500px;
    background-color: $gray;
    border-radius: 2em;
    padding: 1em;
    .perso {
        padding: 3px;
        display: flex;
        flex-flow: row nowrap;
        img{
            border-radius: 100%;
            width: 3em;
            height: 3em;
            object-fit: cover;
            object-position: center;
        }
        .name { 
            list-style-type: none;
        }
    }
    .control{
        ul {
            display: flex;
            list-style-type: none;
            flex-direction: column;
            margin: 0px;
            padding: 0px;
            li {
                padding: 15px;
                padding-bottom: 1px;
                line-height: 45px;
                border-top: transparent solid 3px;
                
                i{
                    font-size: 20px;
                    
                }
                i:hover{
                    color: blue;
                    cursor: pointer;
                }
            }
        }
    }
}
        
        .new-post{
            button{
                background-color: #0065FC;
                color: white;
            }

        }

        .button{
            cursor: pointer;
        }

    .post__publish {
        width: 100%;
    }
    .yes, .no, .publish{
        height: 2em;
           cursor: pointer;
            padding: .5em 1em;
            color: white;
            border: none;
            border-radius: .5em;
            background: $blue;
            font-size: 1.1em;
        }
    .publish {
        width: 100%;
    }
    .no {
        background-color: $red;
    }

    .post__edit{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        h2{
            font-size: 1.6em;
            text-align: center;
            margin-top: 0;
        }
        textarea {
            outline: none;
            box-sizing: border-box;
            border-color: $blue !important;         
            border-radius: 1em;
            font-size: 1.2em;
            margin: 0 0 2em 0;
            width: 100%;
            padding: 0.5em;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 4px 4px 0 0;
            width: 2em;
            height: 2em;
            background: $gray;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $grayDark;
            cursor: pointer;
        }
        .close:hover {
            background-color: $grayDark;
            color: $black;
        }

    }

	.post__stream { 
        //background: $gray;
        width: 640px;
       // border-radius: 2em;

		.posts__container {
		    padding: 0 0 0 2em;
           
            .post.new__post {
                box-shadow: none;
                background-color: $gray;
                .post__top {
                    align-items: center;
                    justify-content: center;
                }
            }

			.post { 
                padding: 2em;
                margin: 0 0 2em 0;
                background: white;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 1em;

                .post__edition {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;

                .bottom__top{
                    margin-left: 1em;
                    cursor: pointer;
                    

                }
                }

				.post__top {
                    display: flex;
                    column-gap: .5em;



                    .about { 
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
    
                        .name { 
                            margin: 0;
                        }

                    }

                    .button--options { 

                        i { 
                            color: blue;
                        }
                    }
                }

                .post__content { 

                    .text textarea { 
                        border-radius: 2em;
                        border-color: $grayDark;
                        padding:  1em 0 0.5em 1em;
                        resize: none;
                    }

                    .text textarea::placeholder { 
                        font-size: 1.5em;
                    }

                    .media { 

                        img { 
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                            max-height: 20em;
                        }
                    }
                }

                
                .post__bottom {
                    padding: 1em 0 0;

                    .upload{
                        display: flex;
                        color: $blue;
                        font-size: 1.5em;
                        align-items:center;
                        justify-content: center;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        flex-direction: row nowrap;
                        column-gap: 1em;
                        justify-content: end;
                    }
            
                    .thumbs { 
                        display: flex;
                        column-gap: 1em;

                        .button--thumb { 

                            i { 

                            }

                            span { 

                            }
                        }
                    }

                    .button--comment { 

                        i { 

                        }

                        span { 

                        }
                    }
                }
                
                    
			}
		}

		
	}


    

    @media all and (max-width:768px) {
       
        .post__stream{
          width: 100%;

            .posts__container {
                padding: 0;
                .post.new__post{ 
                    .post__top {
                        display: block;
                        .avatar {
                            display: none;
                        }
                    }
                }
                .post{
                    .post__content{

                        .text textarea {
                            padding: 1em 0 0.5em 1em;
                        
                        }
                    }
                }

            }
        
        }

    }
